SPOTIPY_CLIENT_ID=your_spotify_client_id_here
SPOTIPY_CLIENT_SECRET=your_spotify_client_secret_here
SPOTIPY_REDIRECT_URI="https://open.spotify.com/"

DISCORD_USER_TOKEN=your_discord_token_here
DISCORD_APPLICATION_ID=your_discord_application_id_here
DISCORD_CONFIG_ID=your_discord_widget_config_id_here

# Optional: Set a fallback image asset name (e.g., if a track has no album cover or is a Local File)
# DEFAULT_COVER_ASSET=
